* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  overflow: hidden;
  cursor: none;

  touch-action: none;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

@media (max-width: 480px) {
  body {
    cursor: auto;
  }
}

@media (max-width: 768px) {
  canvas {
    width: 100%;
    height: 100%;
  }
}